<!--<div class="container"> -->
    <h2 class="text-center">Update Digital Statement</h2>
    <form (ngSubmit) = "onSubmit()">
    <table >
        <tr>
            <td>
                <div class="form-group">
                    <label for="statementNo"> Statement No</label>
                    <input type="text" class="form-control" id="statementNo" [(ngModel)]="c2isStatement.statementNo" name="statementNo">
                 </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="caseFileNo"> Case File No</label>
                     <input type="text" class="form-control" id="caseFileNo" [(ngModel)]="c2isStatement.caseFileNo" name="caseFileNo">
                 </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="personInCharge"> LO-InCharged</label>
                     <input type="text" class="form-control" id="personInCharge" [(ngModel)]="c2isStatement.personInCharge" name="personInCharge">
                 </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="offender"> Offender</label>
                     <input type="text" class="form-control" id="offender" [(ngModel)]="c2isStatement.offender" name="offender">
                 </div>
            </td>
            <td>
                <div class="form-group">
                <label for="stage"> Stage</label>
                 <input type="text" class="form-control" id="stage" [(ngModel)]="c2isStatement.stage" name="stage" disabled="true">
                </div>    
            </td>
            
        </tr>
        <tr>
            <td colspan="5">
             <button class="btn btn-success " type="submit">Update</button> &nbsp;
             <button class="btn btn-success " type="submit">Proceed Clarification</button> &nbsp;
             <button class="btn btn-success "(click)="digitalStatementPdf(c2isStatement.id)">Proceed Signing</button> &nbsp;
             <input type="file" class="file-input" 
             (change)="uploadSatementPdfFile($event)" #fileUpload>
            </td>
        </tr>
         <tr>
            <td colspan="7">
            </td>
        </tr>
    </table>


    <main>
        <!--
        <div class="message">
            <div class="centered">
                <h1>CKEditor 5 </h1>
            </div>
        </div> -->
        <div class="centered">
            <div class='row row-editor editors-holder'>
                <!-- The original editor !-->
                <div class="editor-container" id="editor-container">
                    <ckeditor class="editor-container" 
                    id="content" 
                    [editor]="Editor" 
                    (ready)="onReady($event)" 
                    [config]="editorConfig" 
                    [(ngModel)]="c2isStatement.content"
                    name="data"
                    [data]="data"></ckeditor>
                    <div class="sidebar sidebar-container" id="sidebar-container" #sidebar></div>
                </div>
    
                <!-- Structure for the revision viewer editor !-->
                <div id="revision-viewer-container">
                    <div class="editor-container">
                        <div id="revision-viewer-editor"></div>
                        <div class="sidebar-container" id="revision-viewer-sidebar"></div>
                    </div>
                </div>
            </div>
            <!--
            <div class="row row-info">
                See the editor data in the console.
                <button class="get-data" (click)="showEditorDataInConsole($event)">Get editor data</button>
            </div>
            <div class="row row-info">
                Your license key is stored in the local storage.
                <button class="remove-license-key" (click)="resetLicenseKey()">Reset license key</button>
            </div> -->
        </div>
    </main>


<!--
<main>
	<div class="message">
		<div class="centered">
			<h1>Statement Stage: Clarification</h1>
		</div>
	</div> 
	<div class="centered">
		<div class='row row-editor'>
            <ckeditor [editor]="Editor" 
            (ready)="onReady($event)" 
            id="content" 
            [config]="editorConfig"
            name="data"
            [(ngModel)]="c2isStatement.content"
            [data]="data">
            </ckeditor>
             <div #sidebar class='sidebar'>
            </div> 
        </div>
	</div>
</main>

-->

<!--</div> -->
</form>
<br><br>
<div class="col-md-10 h3" >List of Annex</div>
<div class="col-md-10">
    <table class="table table-striped">
    <tbody>
        <td>Statement Annexes:</td>
        <td><input type="file" class="file-input"
            (change)="onFileSelected($event)" #fileUpload></td>
    </tbody>
    </table>

</div>

<div class="col-md-10">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>Annex</th>
      <th>Annex No</th>
      <th>File Name of Attachment</th>
      <th>Annex Description</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let annexFile of annexFiles">
            <td><input type="text" [(ngModel)]="annexFile.annex"  value={{annexFile.annex}} name="annex" />
            </td>
            <td><input type="text"  [(ngModel)]="annexFile.annexNo"  value={{annexFile.annexNo}} name="annexNo"/></td>
           <td> {{annexFile.fileName}}</td>
           <td>
            <!--<input type="text"
            class="form-control" [(ngModel)]="annexFile.description" value={{annexFile.description}} name="description"/>
            -->
            <textarea  class="form-control" [(ngModel)]="annexFile.description"  value={{annexFile.description}} 
            name="description" ></textarea>
        </td>
           <td>
            <!-- Button to update -->
            <button class="btn btn-danger" (click)="deleteAnnexFile(annexFile.id)"> Delete</button> &nbsp;
                
            <!-- Button to remove-->
            <button class="btn btn-success" (click)="updateAnnexFile(annexFile)"> Update</button>
            <!-- Button to Sign Signature-->
            <button class="btn btn-success" (click)="addsignaturepanel(annexFile.id)">Add Signature</button>
            <button class="btn btn-success" (click)="generateSingPdf(annexFile.id)">PDF Signature Generation</button>
            <button class="btn btn-success" (click)="downloadSignPdf(annexFile.id,annexFile.fileName)">Download</button>
        </td>
    </tbody>
 </table>
</div>


